BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Always
AlignConsecutiveAssignments: Consecutive
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always

